@{
    ViewData["Title"] = "Home Page";
}
<script src="~/js/site.js"></script>
    <div class="text-center">
        <br /><br />
        <label>Enter number to convert: </label>
        <input id="numberToConvert" type="text" />
        <button id="convert" onclick="Convert();">Convert and save to database</button>
        <br />
        <br />
        <span id="msg"></span>
    </div>
