<div class="text-center">
    <br /><br />
    <label>Enter number to convert: </label>
    <input id="numberToConvert" type="text" />
    <button onclick="Convert();">Convert and save to database</button>
    <br />
    <br />
    <span id="msg"></span>
</div>
